.footer {
    margin-top: 100px;
    padding: 70px 0;
    background: url(../img/bg.png) repeat 0 0;
    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        display: block;
        margin-top: 20px;
        color: var(--text-color);
    }
    &__social {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        
    }
    &__icon {
        margin: 0 15px;
        transition: .2s;
        & path{
            fill: var(--main-color);
        }
        &:hover{
            transform: scale(1.1) rotate(5deg);
        }
    }
}
