.form {
    background: url(../img/bg.png) repeat 0 0;
    margin: 100px 0;
    padding: 160px 0;
    &__content {
        width: 100%;
        border: 5px solid var(--main-color);
        padding: 50px 40px;
        position: relative;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 40px 0;
    }
    &__input {
        width: 200px;
        font-size: 18px;
        color: #424242;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--main-color);
        padding: 10px 0;
        &_big{
            width: 300px;
        }
        &:focus{
            outline: none;
        }
        &::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
        &::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
        &:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
        &:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
        &:focus::-webkit-input-placeholder {text-indent: 300px; transition: text-indent 0.3s ease;}
        &:focus::-moz-placeholder          {text-indent: 300px; transition: text-indent 0.3s ease;}
        &:focus:-moz-placeholder           {text-indent: 300px; transition: text-indent 0.3s ease;}
        &:focus:-ms-input-placeholder      {text-indent: 300px; transition: text-indent 0.3s ease;}
    }
    &__policy {
        font-size: 14px;
        color: var(--text-color);
    }
    &__link {
        color: var(--main-color);
    }
    &__done-content{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__done-title{
        width: 530px;
    }
    &_submit{
        .form{
            &__title, &__form, &__policy{
                opacity: 0;
                visibility: hidden;
            }
            &__done-content{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
