.price {
    &__title {
        &::after{
            width: 300px;
            height: 4px;
            left: calc(50% - 150px);
            bottom: -10px;
        }
    }
    &__subtitle {
        display: block;
        text-align: center;
        margin: 25px 0 60px 0;
        font-weight: 500;
        font-size: 20px;
        color: var(--text-color);
    }
    &__content {
        width: 100%;
        box-shadow: 0px 0px 15px rgba(66, 66, 66, 0.5);
        border-radius: 10px;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: var(--bg-color);
    }
    &__article {
        font-size: 20px;
        color: var(--text-color);
        display: block;
        width: 100%;
        &::after{
            background-color: var(--text-color);
            bottom: -5px;
        }
    }
    &__column {
        list-style: none;
    }
    &__item {
        font-size: 18px;
        color: var(--text-color);
        margin-top: 30px;
        width: 400px;
        padding-left: 25px;
        position: relative;
        cursor: default;
        transition: .1s;
        &:hover{
            transform: translateX(3px);
        }
        &::before{
            content: '';
            width: 10px;
            height: 10px;
            background-color: var(--main-color);
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 4px;
        }
    }
}
