.works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__title {
        margin-bottom: 50px;
        width: 100%;
    }
    &__work {
        width: 650px;
    }
    &__name {
        color: var(--text-color);
        font-size: 20px;
        &::after{
            bottom: -10px;
        }
    }
    &__link{
        border-radius: 15px;
        display: inline-block;
        margin: 30px 0 50px 0;
        height: 355px;
        overflow: hidden;
    }
    &__img {
        filter: grayscale(100%);
        transition: .4s;
        &:hover{
            transform: scale(1.05);
            filter: grayscale(0);
        }
    }
}