header{
    nav{
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            padding: 32px 0;
            border-bottom: 1px solid $secondary-text;
            li{
                a{
                    user-select: none;
                    transition: .4s;
                    color: $secondary-text;
                    text-decoration: none;
                    &:hover{
                        color: $main-text;
                    }
                }
                display: inline-block;
                
                cursor: pointer;
                
                &.menu-button{
                    display: none;
                }
                &.language{
                    display: none;
                }
            }
        }
    }
}