.faq {
    &__subtitle {
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
.question {
    &__answer {
        padding: 15px 10px;
    }
    &__text {
        font-size: 14px;
    }
}
